<div class="app-card-container workflow mt-5 mb-4">
  <div class="card">
    <h1>Workflow</h1>
    <p class="workflow-description">That's how I follow this order when developing my test projects</p>
    <div class="about-wrapper">
          <h2>Jira</h2>
          <%= image_tag "jira/jira_1.png", width: 1000, height: 600, alt: "portfolio image", class: 'profile-image' %>
          <h3 class="mt-5">Breakdown into subtasks</h3>
          <%= image_tag "jira/jira_2.png", width: 1000, height: 600, alt: "portfolio image", class: 'profile-image mt-3' %>
          <%= image_tag "jira/jira_3.png", width: 1000, height: 600, alt: "portfolio image", class: 'profile-image mt-3' %>

          <h2 class="mt-5">Coding</h2>
          <%= image_tag "code.png", width: 1000, height: 600, alt: "portfolio image", class: 'profile-image mt-3' %>

          <h2 class="mt-5">Git</h2>
          <%= image_tag "git/git_flow_2.png", width: 1000, height: 600, alt: "portfolio image", class: 'profile-image mt-3' %>
          <%= image_tag "git/git_flow_1.png", width: 1000, height: 500, alt: "portfolio image", class: 'profile-image mt-3' %>


          <h2 class="mt-5">GitHub</h2>

          <%= image_tag "github/github_1.png", width: 1000, height: 500, alt: "portfolio image", class: 'profile-image mt-3' %>
          <%= image_tag "github/github_2.png", width: 1000, height: 500, alt: "portfolio image", class: 'profile-image mt-3' %>
          <%= image_tag "github/github_3.png", width: 1000, height: 500, alt: "portfolio image", class: 'profile-image mt-3' %>
          <%= image_tag "github/github_4.png", width: 1000, height: 500, alt: "portfolio image", class: 'profile-image mt-3' %>

          <h2 class="mt-5">AWS S3</h2>
          <%= image_tag "aws/aws_1.png", width: 1000, height: 500, alt: "portfolio image", class: 'profile-image mt-3' %>
          <%= image_tag "aws/aws_2.png", width: 1000, height: 500, alt: "portfolio image", class: 'profile-image mt-3' %>

          <h2 class="mt-5">Deployment - Heroku</h2>
          <%= image_tag "heroku/heroku_3.png", width: 1000, height: 500, alt: "portfolio image", class: 'profile-image mt-3' %>
          <%= image_tag "heroku/heroku_2.png", width: 1000, height: 500, alt: "portfolio image", class: 'profile-image mt-3' %>
          <%= image_tag "heroku/heroku_4.png", width: 1000, height: 500, alt: "portfolio image", class: 'profile-image mt-3' %>


    </div>
  </div>
</div>